In [85]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import datetime
import time
import calendar

In [7]:
data_path = "/Users/Brian/Data/gdelt/data/201512_5min/us/nasdaq stocks/1/"

In [9]:
data_files = listdir(data_path)

In [17]:
df_tmp = pd.read_csv(data_path + data_files[0], usecols=[0, 1, 2])

In [18]:
df_tmp.head()

         Date      Time     Open
0  2015-11-12  15:35:00  24.2500
1  2015-11-12  15:40:00  23.3500
2  2015-11-12  15:45:00  23.1501
3  2015-11-12  15:50:00  22.7000
4  2015-11-12  15:55:00  23.7947

In [55]:
company_symbol = data_files[0].split('.')[0]
company_symbol

'aaap'

In [57]:
# This assumes that the given dates and times are in GMT
date_str = df.iloc()[0][0]
time_str = df.iloc()[0][1]
d = datetime.datetime.strptime(date_str + "T" + time_str, "%Y-%m-%dT%H:%M:%S")
timestamp = calendar.timegm(d.timetuple())
timestamp

1447342500

In [72]:
def f(s):
    '''
    Translates a string that looks like "%Y-%m-%dT%H:%M:%S" and is already in gmt
    into a timestamp
    '''
    d = datetime.datetime.strptime(s, "%Y-%m-%dT%H:%M:%S")
    return calendar.timegm(d.timetuple())

df['timestamp'] = (df['Date'] + 'T' + df['Time']).apply(f)

In [83]:
df = df.set_index(['timestamp'])

In [84]:
df['Open']

timestamp
1447342500    24.2500
1447342800    23.3500
1447343100    23.1501
1447343400    22.7000
1447343700    23.7947
1447344000    23.9000
1447344300    24.8000
1447344600    24.8200
1447344900    24.9246
1447345200    26.9100
1447345500    26.3999
1447345800    26.3900
1447346100    26.0000
1447346400    25.4999
1447346700    25.5000
1447347900    25.8500
1447348200    25.9900
1447348500    25.8500
1447348800    25.9170
1447349100    25.6200
1447349400    25.9850
1447350000    26.0800
1447350300    26.1200
1447351200    26.1500
1447352100    26.2000
1447352400    26.1500
1447352700    26.1000
1447353000    26.0999
1447353300    25.8340
1447353600    26.1000
               ...
1449778500    28.6200
1449781200    28.9200
1449784800    29.1000
1449848100    29.9800
1449848400    28.6550
1449848700    30.5000
1449850500    29.0600
1449851700    29.5000
1449852300    29.0000
1449853500    28.3101
1449855300    29.2600
1449855600    29.0000
1449855900    29.1300
1449856200    29.2050
1449856500    29.4200
1449857100    29.4400
1449857400    29.5600
1449857700    29.6600
1449858300    29.5700
1449858600    29.7399
1449859500    29.5000
1449863700    29.6300
1449865500    29.7400
1449865800    29.7400
1449867600    29.4300
1449868500    29.8300
1449870000    30.2100
1449870300    30.0200
1449870600    29.0712
1449871200    30.0000
Name: Open, dtype: float64

In [76]:
df.head()

         Date      Time     Open   timestamp
0  2015-11-12  15:35:00  24.2500  1447342500
1  2015-11-12  15:40:00  23.3500  1447342800
2  2015-11-12  15:45:00  23.1501  1447343100
3  2015-11-12  15:50:00  22.7000  1447343400
4  2015-11-12  15:55:00  23.7947  1447343700